
/** small */
@media screen and (max-width:576px){

  .container{

    border: 1px solid rgb(72, 255, 0);
  }


}


/** medium */
@media screen and (min-width:576px) and (max-width: 992px){

  .container{

    border: 1px solid rgb(0, 195, 255);
  }

  header #navigation h2{

    font-size: 2.2rem;
  }
  
  header #navigation ul{
  
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
  }
      
      header #navigation ul li{
      
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        font-weight: 700;
      }
      
      header #navigation ul li a{
      
        text-decoration: none;
        color: var(--clr-nutral-100);
      }
      
header ul li:hover{

  background-color: var(--clr-nutral-200);
  color: var(--clr-nutral-100);
  border-radius: 2rem;

}
  
  header #navigation span{
    
    display: none;
  }



.header_text_image_section .img_container .card_1{

  right: 25%;


}


.img_container .card_2{

  bottom: 40%;
  left: 20%;
    }


main .sec1 .main_sec1_img_container{

  display: grid;
  grid-template-columns: 1fr 1fr;

}

    
.sec1 .main_sec1_img_container .img_crl{
    
  width: 13rem;
  height: 13rem;
}




.sec2 .sec2_text_img_container{
  
  display: flex;
  flex-direction: row;
  align-items: center;

  /* display: grid;
  grid-template-columns: 2fr 2fr; */

  
}


.sec2 .sec2_text_container button{

  margin-bottom: 0;
}

.sec2 .sec2_img_container{
  
  width: 100%;
  
}

.sec2 .sec2_img_container img{
  
  object-position: 70% 100%;
  object-fit: cover;

  height: 15rem;
 

      }


}









/** large */
@media screen and (min-width:993px){
  
  
  .container{
    
    border: 1px solid rgb(229, 255, 0);
  }

  header #navigation h2{

    font-size: 3rem;
  }
  
  header #navigation ul{
  
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
  }
  
  header #navigation ul li{
    
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
            
      header #navigation ul li a{
        
        text-decoration: none;
        color: var(--clr-nutral-100);
      }
      
      
      header ul li:hover{
        
  background-color: var(--clr-nutral-200);
  color: var(--clr-nutral-100);
  border-radius: 2rem;

}

header #navigation span{
    
  display: none;
}


.header_text_image_section{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}

.header_text_image_section .img_container .card_1{

  right: 23%;
  position: absolute;

}


.img_container .card_2{

  bottom: 40%;
  left: 20%;
    }
    
    
    
    main .sec1 .main_sec1_img_container{
      
  display: flex;
  justify-content: space-between;

}


    
.sec1 .main_sec1_img_container .img_crl{
    
  width: 14rem;
  height: 14rem;
}




.sec2 .sec2_text_img_container{
  
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;


  
}


.sec2 .sec2_text_container button{

  margin-bottom: 0;
}

.sec2 .sec2_img_container{
  
  width: 50%;
  
}

.sec2 .sec2_img_container img{
  
  object-position: 70% 100%;
  object-fit: cover;

  height: 15rem;
 

      }

    }