
*,
*::before,
*::after{
  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */

:root{
  
  --fnt-primary:"Inter", sans-serif;
  --fnt-secound: "Dancing Script", cursive;

  --clr-nutral-hsl-100: 0, 0%, 100%;
  --clr-nutral-hsl-200: 8, 77%, 57%;
  --clr-nutral-hsl-300: 0, 0%, 56%;
  --clr-nutral-hsl-400: 0, 0%, 13%;
  --clr-nutral-hsl-500: 0, 0%, 0%;
  
  --clr-nutral-100: hsl(var(--clr-nutral-hsl-100));
  --clr-nutral-200: hsl(var(--clr-nutral-hsl-200));
  --clr-nutral-300: hsl(var(--clr-nutral-hsl-300));
  --clr-nutral-400: hsl(var(--clr-nutral-hsl-400));
  --clr-nutral-500: hsl(var(--clr-nutral-hsl-500));

  /** transparent colors */
  
  --tp-clr-20:hsl(var(--clr-nutral-hsl-100), 0.2);

  --tp-clr-50:hsl(var(--clr-nutral-hsl-100), 0.5);
}

/* TODO In this :root section I repeat color name twice because in this layout has many opacity lavel if I manually change one by one, it require more time and also I cant use the change value, so if I change only the var value it can't impact on primary color. more--> :https://youtu.be/_2LwjfYc1x8 */

/*** mobile first layout ***/

body{

  font-family: var(--fnt-primary);

}

header{

  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.801), rgb(0, 0, 0));
  color: var(--clr-nutral-100);
}


header #navigation{

  /* border:2px solid lime; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}


header h2{

  color: var(--clr-nutral-200);
  font-size: 2rem;
  font-style: italic;
}

header ul{

  display: none;
}



header span i{

  font-size: 1.5rem;

}

.header_text_image_section{

  padding: 1.5rem;

}

.header_text_image_section .text_container h1{

  font-size:3rem;
  margin-top: 1rem;

}

.header_text_image_section .text_container h1 pre span{

  font-family: var(--fnt-secound);


}


.header_text_image_section .text_container p{

  font-size: 1.3rem;
  width: 75%;
  margin-bottom: 1.5rem;
  color: hsl(var(--clr-nutral-hsl-100), 0.5);

}

.header_text_image_section .text_container .btn button{

  padding: 1rem 3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 3rem;
  background: transparent;
  border: 1px solid var(--clr-nutral-100);
  }

.header_text_image_section .text_container .btn button:hover{

  border: none;
  background-color: var(--clr-nutral-200);
  }
  

.header_text_image_section .text_container .btn .btn_1{

  padding: 1rem 4rem;
  color: red;
  margin-bottom: 0.7rem;
  margin-right: 0.7rem;

  }
  
  .header_text_image_section .text_container .btn button a{
    
    text-decoration: none;
    color: var(--clr-nutral-100);
  }


  .img_container {

    /* border: 1px solid navy; */
    display: flex;
    background-image: url("./ressources/Images\ 2.png 2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40rem;
    position: relative;
  }

  .img_container .card_1{

    margin-right: 1rem;
    
  }

  .img_container .card_1, .card_2{

    
    background-color: hsl(var(--clr-nutral-hsl-100), 0.2);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    position: absolute;
  }

  .img_container .card_1 a, .card_2 a{

    list-style-type: none;
    color: var(--clr-nutral-100);
    text-decoration: none;
    
  }
    
      .img_container .card_1 h3, .card_2 h3{
    
        font-size: 2.5rem;
        
      }
    
      .img_container .card_1 p, .card_2 p{
    
        color: hsl(var(--clr-nutral-hsl-100), 0.5);
        
      }


.img_container .card_1{

  top: 5%;
  right: 0%;
  position: absolute;
}


.img_container .card_2{

  display: flex;
  justify-content: baseline;
  bottom: 40%;
    }
    
    .img_container .card_2 i{
    
      font-size: 3rem;
      padding-top: 0.5rem;
      padding-right: 0.7rem;
      color: var(--clr-nutral-200);
    }



.sec1{

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
  
}


.sec1 .main_sec1_text_container{

  display: flex;
  flex-direction: column;
  align-items: center;

}
    
    .sec1 .main_sec1_text_container h2{
    
    font-size: 2.4rem;
    margin-bottom: 1rem;
    
  }
  
  .sec1 .main_sec1_text_container p{
    
    font-size: 0.8rem;
    width: 55%;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    color: hsl(var(--clr-nutral-hsl-100), 0.5);
    
    }

.sec1 .main_sec1_img_container .child_img_container{

  display: flex;

  flex-direction: column;
  align-items: center;
}
    
    
    .sec1 .main_sec1_img_container img{
    
      width: 100%;
    }
    
    .sec1 .main_sec1_img_container .img_crl{
    
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      
    
    }



.sec1 .child_img_container{

  margin-bottom:2rem;

    }


    .sec1 .child_img_container h3{
    
      margin-top: 1rem;
      margin-bottom: 1rem;

        }


    .sec1 .child_img_container p{
    
      width: 65%;
      color: hsl(var(--clr-nutral-hsl-100), 0.5);
    
        }


    .sec1 .main_sec1_img_container .img_crl img{
    
      border-radius: 50%;
      border: 0.2rem solid hsl(var(--clr-nutral-hsl-100), 0.2);
    
    }


.sec2 {

  padding: 1rem 0 1rem 0;
  background-color: hsl(var(--clr-nutral-hsl-500));
  color: white;
}


  .sec2 .sec2_text_img_container{
  
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: hsl(var(--clr-nutral-hsl-100), 0.2);
    
  }
  .sec2 .sec2_text_container h2{
  
    margin-bottom: 1rem;
    font-size:2rem;
  }


  .sec2 .sec2_text_container p{
  
    font-size: 0.8rem;
    color: var(--tp-clr-50);
    width: 70%;
  }


  .sec2 .sec2_text_container button{
  
  margin: 1rem 0 0.4rem 0;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 3rem;
  background: transparent;
  border: 1px solid var(--clr-nutral-100);
  color: var(--clr-nutral-100);
  }

   
    .sec2 .sec2_text_container button:hover{
    
      border: none;
  background-color: var(--clr-nutral-200);
    
    }


  .sec2 .sec2_text_img_container .sec2_img_container img{
  
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
  }



  

  .sec3 {

    background-color: hsl(var(--clr-nutral-hsl-500));
    color: hsl(var(--clr-nutral-hsl-100));
    /* border: 1px solid red; */
  }
  
  .sec3 .sec3_header_text{
    padding: 2rem;
  }


  .sec3 .sec3_header_text h2{

    font-size: 2rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
  }

  
  .sec3 .sec3_header_text p{

    font-size: 0.8rem;
    color: var(--tp-clr-50);
    line-height: 1.3rem;
  }

  
  
    .sec3 .sec_3_table_form_section{
  
      display: flex;
      flex-direction: column;
      padding: 1.8rem;
      background-color: var(--tp-clr-20);
      
    }
  
    .sec3 .sec_3_table_form_section .sec3_table_area h3{
  
      padding-bottom: 1rem;

    }
  
    .sec3 .sec_3_table_form_section .sec3_table_area table, tr, th, td{
  
      border: 1px solid var(--tp-clr-20);
      border-collapse: collapse;
      padding: 0.4rem;
      text-align: left;

    }
  
    .sec3 .sec_3_table_form_section .sec3_table_area table{
  
      margin-bottom: 2rem;

    }
    
      .sec3 .sec_3_table_form_section .sec3_table_area td{
    
        color: var(--tp-clr-50);
  
      }
  
    
    .sec3 .sec3_form_area h3, p{
  
      margin-bottom: 1rem;
    }
    
    .sec3 .sec3_form_area p{
  
      color: var(--tp-clr-50);
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
    
    .sec3 .sec3_form_area .form_container{
  
      /* border: 2px solid red; */
      display: grid;
      grid-template-columns:50% 50%;
    }
    
    .sec3 .sec3_form_area .form_container #actibity{
  
      grid-column: span 2;
    }
      
      .sec3 .sec3_form_area .form_container input, select{
    
        /* border: 2px solid limegreen; */
        padding: 0.8rem;
        border-radius: 0.4rem;
        color: var(--tp-clr-50);
        background-color: var(--tp-clr-20);
        border: none;
        margin: 0.3rem;
        font-weight: bold;
      }
      
      .sec3 .sec3_form_area .form_container input::placeholder{
    
        color: var(--tp-clr-50);
        
      }
      
      .sec3 .sec3_form_area .form_container select option{
    
      
      /* background: var(--tp-clr-50); */
      background-color: var(--tp-clr-20);
      color: black;

      }
      
      .sec3 .sec3_form_area button{
    
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 3rem;
  background: transparent;
  border: 1px solid var(--clr-nutral-100);
  color: var(--clr-nutral-100);
      
      }
      
      .sec3 .sec3_form_area button:hover{
    
        border: none;
        background-color: var(--clr-nutral-200);
      
      }


footer{

  background-color: var(--clr-nutral-500);
  color: var(--clr-nutral-100);
  padding: 2rem 1rem;
}

/* footer .contact3{

  border-bottom: 1px solid var(--tp-clr-20);
} */

footer h3{

  margin-bottom: 1rem;
  
  
}

footer h2{

  font-size: 2rem;
  font-style: italic;
  color: var(--clr-nutral-200);
  margin-bottom: 1rem;

}

footer ul{

  margin-bottom: 1rem;
  list-style-type: none;
  
}

footer li, p{

  color: var(--tp-clr-50);
  line-height: 1.5rem;

}

footer li a{

  cursor: pointer;
  text-decoration: none;
  color: var(--tp-clr-50);
  

}

footer li a:hover{

  color: var(--clr-nutral-200);

}

footer .end_info{

  margin-top: 1rem;

}